<article class="card">
  <div class="wrap-card">
    <div class="card-title sub-title__tablet uppercase">{{cardTitle}}</div>
    <div class="card-price">
      <div class="card-price__detail">
        <p class="dolar">$</p>
        <p class="price">{{price}}</p>
      </div>
      <div class="year uppercase">year</div>
      <div class="personal-account">
        <div class="account text__tablet">{{account}}</div>
        <div class="data text__tablet">{{data}}</div>
        <div class="upload-perday text__tablet">{{uploads}}</div>
      </div>
      <div class="purchase">PURCHASE</div>
    </div>
  </div>
</article>
