<footer class="footer">
  <div class="container-contact">
    <div class="footer-top">
      <div class="contact-footer">
        <div class="footer-title">CONTACT US</div>
        <div class="footer-locationAndEmail">
          <p class="footer-location">
            2300 W Arbutus Dr Citrus Springs, FL 34434, USA
          </p>
          <p class="footer-email">contact@hofmannui.net</p>
        </div>
      </div>

      <div class="social-footer">
        <div class="footer-title">FOLLOW US</div>
        <div class="group-social__footer">
          <div class="social-icon">
            <img src="../assets/images/desktop/Pinterest.png" alt="Fill4" />
          </div>
          <div class="social-icon">
            <img src="../assets/images/desktop/twitter1.png" alt="twitter" />
          </div>
          <div class="social-icon">
            <img src="../assets/images/desktop/facebook1.png" alt="facebook" />
          </div>
        </div>
      </div>

      <div class="aboutUs">
        <div class="footer-title">ABOUT US</div>
        <div class="aboutUS-description">
          Hoffman UI Kit was made to help you quickly create beautiful layouts
          of responsive websites.
        </div>
      </div>
    </div>
    <hr width="100%" height="1px" color="#7D7D7D" />
    <div class="footer-bottom">
      <div class="footer-bottom__link">
        <div class="name-company">© 2016 Hofmann UI Kit</div>
        <div class="footer-page">
          <div class="pageName">HOME</div>
          <div class="pageName">SERVICES</div>
          <div class="pageName">TEAM</div>
          <div class="pageName">PORTFOLIO</div>
          <div class="pageName">CONTACT</div>
        </div>
        <img
          src="../assets/images/desktop/go-top-button.png"
          alt="go-top-button"
          class="scrollToTop"
        />
      </div>
    </div>
  </div>
</footer>
